<h1>Add New Merchant</h1>

<form method="post" action="/merchants">
  <label for="name">Merchant name:</label>
  <input type="text" name="name" id="name-field">

  <label for="phone">Phone number:</label>
  <input type="text" name="phone" id="phone-field">

  <label for="email">Email:</label>
  <input type="text" name="email" id="email-field">

  <input type="submit" value="Add Merchant">

</form>
