<h2>Edit Merchant Details</h2>

<form method="post" action="/merchants/<%= @merchant.id %>">

  <table class="expenses">
    <tr>
      <th>Merchant Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Update</th>
    </tr>

    <tr>
      <td><label for="name-field"></label>
      <input class="input" type="text" name="name" id="type-field" value="<%= @merchant.name %>"></td>
      <td><label for="phone-field"></label>
      <input class="input" type="text" name="phone" id="phone-field" value="<%= @merchant.phone %>"></td>
      <td><label for="email-field"></label>
      <input class="input" type="text" name="email" id="email-field" value="<%= @merchant.email %>"></td>
      <td>  <input class="submit" type='submit' value="Update"></td>
    </tr>

</table>

</form>
