<div class='container' id="admin-container">

<h2>Admin Page</h2>

<p>On this page you can manage the merchants and categories for your expenses.</p>
<p>Please click on the required button below to start.</p>

<hr/>
  <div class="flex-container">
    <div><p><a class="button" href="/merchants/index">View all merchants</a></p></div>
    <div><p><a class="button" href="/merchants/add">Add new merchant</a></p></div>
    <div><p><a class="button" href="/merchants/edit">Search and edit merchants</a></p></div>
  </div>

<hr/>

  <div class="flex-container">
    <div><p><a class="button" href="/categories">View all categories</a></p></div>

    <div><p><a class="button" href="/categories/add">Add new category</a></p></div>

    <div><p><a class="button" href="/categories/edit">Search and edit categories</a></p></div>
  </div>

</div>
