

<h2>Admin Page</h2>

<p>On this page you can manage the merchants and categories for your expenses.</p>
<p>Please click on the required button below to start.</p>

<hr/>
  <div class="flex-container">
    <div class="button-row"><p><a class="button" href="/merchants">Manage merchants</a></p></div>

    <div class="button-row"><p><a class="button" href="/merchants/add">Add new merchant</a></p></div>

  </div>

<hr/>

  <div class="flex-container">
    <div class="button-row"><p><a class="button" href="/categories">Manage categories</a></p></div>

    <div class="button-row"><p><a class="button" href="/categories/add">Add new category</a></p></div>

  </div>

  <hr/>

</div>
