<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

  <div style="padding-left:16px">
    <h2>Welcome to your personal expenses tracker!</h2>
    <p>You should keep track of all expenses incurred during your work with us to allow you to make the appropriate claim at the end of each period.</p>
    <hr/>
    <p>If you need any help or have questions, please contact Sarah by email at sarah@refuweegee.co.uk</p>
  </div>






</body>
</html>
