<!DOCTYPE html>
<html lang="en">
<head>
  <title>Expenses Tracker</title>

  <link rel="stylesheet" href="/style.css">
  <img src="/images/logo.jpg" alt="logo" WIDTH=250 HEIGHT=200>
</head>

<body>
  <div class="Header"> <h1 id='title'>Expenses Tracker</h1>
</div>


  <div class="topnav">
    <a href="/">Home</a>
    <a href="/admin">Admin</a>
    <a href="/transactions">Expenses</a>
  </div>
    <%= yield %>

</body>
</html>
