<!DOCTYPE html>
<html lang="en">
<head>
  <title>Refuweegee Expenses Tracker</title>

  <link rel="stylesheet" href="/style.css">

</head>

<body>
  <div class="Header"> <h1 id='title'>Refuweegee Expenses Tracker</h1>

  <img src="/images/logo.jpg" alt="logo" WIDTH=350 HEIGHT=300>

  </div>

  <nav>
    <div><a href="/">Home</a></div>
    <div><a href="/admin">Admin</a></div>
    <div><a href="/transactions">Expenses</a></div>
  </nav>

    <%= yield %>

</body>
</html>
