<h2>Add New Category</h2>

<form method="post" action="/categories">
  <label for="type">Category Type:</label>
  <input class="input" type="text" name="type" id="type-field"/>

  <input class="submit" type="submit" value="Add Category">
</form>
