<h1>New Expense Record</h1>

<form action="/transactions" method="post" >
  <label>
    Select merchant:
    <select name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name %> </option>
      <%end %>
    </select>
  </label>

  <form action="/transactions" method="post" >
    <label>
      Select category:
      <select name="category_id">
        <% for category in @categories %>
        <option value="<%= category.id %>"><%= category.type %> </option>
        <%end %>
      </select>
    </label>

  <form action="/transactions" method="post" >
    <label>
      <label for="value">Value :</label>
      <input type="number" step="0.01" name="value" id="value-field">



  <input class="btn btn--action" type='submit' value="Add record">


</form>
