<h2>New Expense Record</h2>

<form action="/transactions" method="post" >

  <table class="expenses">
    <tr>
      <th>Merchant Name</th>
      <th>Category</th>
      <th>Value</th>
      <th>Day</th>
      <th>Month</th>
      <th>Year</th>
      <th>Complete</th>
    </tr>

    <tr>
      <td>  <label>
          <select name="merchant_id">
            <% for merchant in @merchants %>
            <option value="<%= merchant.id %>"><%= merchant.name %> </option>
            <%end %>
          </select>
        </label></td>

      <form action="/transactions" method="post" >
      <td>  <label>
          <select name="category_id">
            <% for category in @categories %>
            <option value="<%= category.id %>"><%= category.type %> </option>
            <%end %>
          </select>
        </label></td>

      <td>  <form action="/transactions" method="post" >
          <label>
            <label for="value"></label>
            <input class="input" type="number" step="0.01" name="value" id="value-field"></td>

      <td>  <form action="/transactions" method="post">
          <label for="day"></label>
          <input class="input" type="text" name="day" id="day-field"></td>

      <td>  <label for="month"></label>
          <input class="input" type="text" name="month" id="month-field"></td>

      <td>  <label for="year"></label>
          <input class="input" type="text" name="year" id="year-field"></td>

      <td>  <input class="submit" type='submit' value="Add record"></td>

    </tr>

</table>

</form>
